name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '14 12 * * 1' # At 12:14 on Monday

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.github_token }}
    steps:
    - uses: actions/checkout@v3
    - name: Configure git
      uses: Homebrew/actions/git-user-config@master
      with:
        username: jonchang
    - uses: r-lib/actions/setup-pandoc@v2
    - uses: r-lib/actions/setup-r@v2
      with:
        r-version: 4.x
        Ncpus: 2
    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        extra-packages: |
          pkgdown
          rcmdcheck
          remotes
    - name: Run R CMD check
      run: Rscript -e "rcmdcheck::rcmdcheck(args = '--no-manual', error_on = 'error')"
    - name: Install package
      run: R CMD INSTALL .
    - name: Deploy package
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        Rscript -e 'withr::with_envvar(c("NOT_CRAN" = "true"), pkgdown::deploy_to_branch(new_process = FALSE))'
