name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: '14 12 * * 1' # At 12:14 on Monday

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        R: [ 'release', 'next' ]
    env:
      GITHUB_PAT: ${{ secrets.github_token }}
    steps:
    - uses: actions/checkout@v4
    - name: Configure git
      uses: Homebrew/actions/git-user-config@master
      with:
        username: jonchang
    - uses: r-lib/actions/setup-pandoc@v2
    - uses: r-lib/actions/setup-r@v2
      with:
        r-version: ${{ matrix.R }}
        Ncpus: 4
        use-public-rspm: true
    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        needs: check
        extra-packages: |
          pkgdown
          rcmdcheck
          remotes
    - uses: r-lib/actions/check-r-package@v2
      with:
        args: 'c("--no-manual")'
        error-on: '"error"'
    - name: Install package
      run: R CMD INSTALL .
    - name: Deploy package
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        Rscript -e 'withr::with_envvar(c("NOT_CRAN" = "true"), pkgdown::deploy_to_branch(new_process = FALSE))'
